@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';

@layer components {
	.card {
		@apply bg-lightBlue text-white w-80 min-h-[5rem] shadow-lg rounded-md overflow-hidden;
	}
}

body {
	background-color: $light-color;
	color: $primary-color;
	font-size: 1.5rem;
}

.navbarCart {
	height: 45px;
	width: 45px;
	display: inline-block;
	background-color: $semiLight-color;
	border-radius: 50%;

	&__cart {
		margin: 10px;
		cursor: pointer;
	}
}

.homeContainer,
.productContainer {
	background-color: $semiLight-color;
}

.cartActive {
	position: absolute;
	right: 0;

	min-height: 50rem;
	min-width: 20rem;

	opacity: 1;
	// visibility: visible;
	// transform: translateX(0%);
	transition: all 500ms ease-in;
}

.cartInActive {
	position: absolute;
	right: 0;

	min-height: 20rem;
	min-width: 20rem;

	opacity: 0;
	// visibility: hidden;
	transition: all 500ms ease-out;
}
