@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';

body {
	background-color: $light-color;
	color: $primary-color;
	font-size: 1.5rem;
}

.navbarCart {
	background-color: $semiLight-color;
	width: 10px;
	border-radius: 100%;
}
