@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';

@layer components {
	.card {
		// original width is w-80
		@apply bg-white w-60 md:w-80 xl:w-[22rem] min-h-[5rem] shadow-xl rounded-md overflow-hidden;
	}

	.btn {
		@apply text-white bg-darkBlue100 hover:bg-lightBlue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2;
	}

	.navbar {
		@apply h-20 w-full px-10 flex flex-wrap flex-row justify-between items-center font-bold;

		&__logo {
			@apply grow shrink w-10 text-4xl;
		}

		&__navList {
			@apply grow shrink bg-white flex flex-row md:mx-20;
		}
		// &__navList {
		// 	@apply grow shrink basis-96 hidden flex-col items-center justify-center bg-white md:flex md:flex-row md:justify-start;
		// }
	}

	@media (max-width: 768px) {
		.navbar {
			&__navList {
				@apply flex flex-col items-center justify-center bg-white absolute top-20 right-0 w-full h-72 overflow-hidden;
			}

			.showNavbarActive {
				@apply w-0;
			}

			.hideNavbar {
				@apply hidden;
			}
		}
	}
}

body {
	background-color: $light-color;
	color: $primary-color;
	font-size: 1.5rem;
}

.navbarCart {
	// background-color: azure;
	// margin-top: 10px;
	// height: 45px;
	// width: auto;
	display: flex;
	justify-content: flex-end;
	// background-color: $semiLight-color;
	// border-radius: 50%;

	&__cart {
		// text-align: right;
		margin: 10px;
		cursor: pointer;
	}
}

.homeContainer,
.productContainer {
	background-color: $semiLight-color;
}

.cartActive {
	position: absolute;
	right: 0;

	min-height: 100%;
	min-width: 30rem;

	opacity: 1;
	transition: all 500ms ease-in;

	@media (max-width: 764px) {
		min-height: 20rem;
		width: 100%;
	}

	@media (max-width: 425px) {
		min-width: 10rem;
	}
}

.cartInActive {
	position: absolute;
	right: 0;

	min-height: 20rem;
	min-width: 20rem;

	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-out;
}
